In [2]:
import FunctionScript
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
pwd

'C:\\Users\\samff\\Cosc301Path\\group07-Project\\analysis\\Sam'

In [4]:
df = pd.read_csv('C:\\Users\\samff\\Cosc301Path\\group07-Project\\data\\processed\\ReadableDefaultOfCreditCardClients.csv')

,Unnamed: 0,Credit Limit,Sex,Education,Marital Status,Age,PayStat/Sept05,PayStat/Aug05,PayStat/Jul05,PayStat/Jun05,...,Outstanding/Jun05,Outstanding/May05,Outstanding/Apr05,Paid/Sept05,Paid/Aug05,Paid/Jul05,Paid/Jun05,Paid/May05,Paid/Apr05,Default
0,0,50000,M,MSc or PHd,Single,29,2,2,2,2,...,25865,27667,28264,0,2700,0,2225,1200,0,True
1,1,320000,M,BSc,Single,29,2,2,2,2,...,58622,62307,63526,2500,2500,0,4800,2400,1600,True
2,2,200000,M,MSc or PHd,Married,53,2,2,2,2,...,144098,147124,149531,6300,5500,5500,5500,5000,5000,True
3,3,280000,M,BSc,Married,41,2,2,2,2,...,144401,152174,149415,6500,0,14254,14850,0,5000,False
4,4,50000,M,High School Diploma,Single,37,2,2,2,3,...,48851,49318,51143,1000,4035,1000,1400,2800,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1329,1329,100000,M,BSc,Single,44,2,2,2,2,...,84873,82613,87461,2900,5000,3000,0,6200,4000,True
1330,1330,70000,M,High School Diploma,Married,45,2,2,2,2,...,67338,70769,68957,3100,3008,0,5100,2600,0,True
1331,1331,40000,M,BSc,Single,47,2,2,3,2,...,51259,47151,46934,4000,0,2000,0,3520,0,True
1332,1332,210000,M,BSc,Married,34,3,2,2,2,...,2500,2500,2500,0,0,0,0,0,0,True
1333,1333,80000,M,BSc,Single,34,2,2,2,2,...,77519,82607,81158,7000,3500,0,7000,0,4000,True

In [13]:
df = FunctionScript.LoadnClean("C:\\Users\\nick3\\OneDrive\\Desktop\\COSC_301\\Project2\\group07-Project\\data\\raw\\defaultofcreditcardclients.csv")
df

AttributeError: module 'FunctionScript' has no attribute 'help'