In [2]:
from Scripts import FunctionScript
df = FunctionScript.LoadnClean("C:\\Users\\nick3\\OneDrive\\Desktop\\COSC_301\\Project2\\group07-Project\\data\\raw\\defaultofcreditcardclients.csv")

In [3]:
df

,Credit Limit,Sex,Education,Marital Status,Age,Payment_Score,Avg_Outstanding,Avg_Paid,Default
1,20000,F,BSc,Married,24,0.666667,1284.000000,114.833333,True
2,120000,F,BSc,Single,26,1.500000,2846.166667,833.333333,True
3,90000,F,BSc,Single,34,1.000000,16942.166667,1836.333333,False
4,50000,F,BSc,Married,37,1.000000,38555.666667,1398.000000,False
5,50000,M,BSc,Married,57,0.666667,18223.166667,9841.500000,False
...,...,...,...,...,...,...,...,...,...
29996,220000,M,High School Diploma,Married,39,1.000000,120891.500000,7091.666667,False
29997,150000,M,High School Diploma,Single,43,0.333333,3530.333333,2415.000000,False
29998,30000,M,BSc,Single,37,2.333333,11749.333333,5216.666667,True
29999,80000,M,High School Diploma,Married,41,0.833333,44435.166667,24530.166667,True
30000,50000,M,BSc,Married,46,1.000000,38479.000000,1384.666667,True

In [4]:
pwd

'C:\\Users\\nick3\\OneDrive\\desktop\\COSC_301\\Project2\\group07-Project\\analysis\\Nick'

In [5]:
df.to_csv(r'C:\\Users\\nick3\\OneDrive\\desktop\\COSC_301\\Project2\\group07-Project\\Data\\Processed\\CleanedForTableau.csv')