In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np

In [2]:
pwd

'C:\\Users\\nick3\\OneDrive\\desktop\\COSC_301\\project\\group07-Project\\analysis\\Nick'

In [3]:
df = pd.read_csv('C:\\Users\\nick3\\OneDrive\\desktop\\COSC_301\\Project\\group07-Project\\data\\processed\\ReadableDefaultOfCreditCardClients.csv')
display(df)

,Unnamed: 0,Credit Limit,Sex,Education,Marital Status,Age,PayStat/Sept05,PayStat/Aug05,PayStat/Jul05,PayStat/Jun05,...,Outstanding/Jun05,Outstanding/May05,Outstanding/Apr05,Paid/Sept05,Paid/Aug05,Paid/Jul05,Paid/Jun05,Paid/May05,Paid/Apr05,Default
0,1,20000,F,BSc,Married,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,True
1,2,120000,F,BSc,Single,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,True
2,3,90000,F,BSc,Single,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,False
3,4,50000,F,BSc,Married,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,False
4,5,50000,M,BSc,Married,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29650,29996,220000,M,High School Diploma,Married,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,False
29651,29997,150000,M,High School Diploma,Single,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,False
29652,29998,30000,M,BSc,Single,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,True
29653,29999,80000,M,High School Diploma,Married,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,True
29654,30000,50000,M,BSc,Married,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,True

In [4]:
df["PayStat/Jun05"] = df["PayStat/Jun05"].apply(lambda x: x + 1)
df["PayStat/Sept05"] = df["PayStat/Sept05"].apply(lambda x: x + 1)
df["PayStat/Aug05"] = df["PayStat/Aug05"].apply(lambda x: x + 1)
df["PayStat/Jul05"] = df["PayStat/Jul05"].apply(lambda x: x + 1)
df["PayStat/May05"] = df["PayStat/May05"].apply(lambda x: x + 1)
df["PayStat/Apr05"] = df["PayStat/Apr05"].apply(lambda x: x + 1)

df['Payment Score'] = (df["PayStat/Jun05"]+df["PayStat/Sept05"]+df["PayStat/Aug05"]+df["PayStat/Jul05"]+df["PayStat/May05"]+df["PayStat/Apr05"])/6                                                                                                     
df = df.drop(["PayStat/Jun05","PayStat/Sept05","PayStat/Aug05","PayStat/Jul05","PayStat/May05","PayStat/Apr05"], axis=1)
df

,Unnamed: 0,Credit Limit,Sex,Education,Marital Status,Age,Outstanding/Sept05,Outstanding/Aug05,Outstanding/Jul05,Outstanding/Jun05,Outstanding/May05,Outstanding/Apr05,Paid/Sept05,Paid/Aug05,Paid/Jul05,Paid/Jun05,Paid/May05,Paid/Apr05,Default,Payment Score
0,1,20000,F,BSc,Married,24,3913,3102,689,0,0,0,0,689,0,0,0,0,True,0.666667
1,2,120000,F,BSc,Single,26,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,True,1.500000
2,3,90000,F,BSc,Single,34,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000,False,1.000000
3,4,50000,F,BSc,Married,37,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000,False,1.000000
4,5,50000,M,BSc,Married,57,8617,5670,35835,20940,19146,19131,2000,36681,10000,9000,689,679,False,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29650,29996,220000,M,High School Diploma,Married,39,188948,192815,208365,88004,31237,15980,8500,20000,5003,3047,5000,1000,False,1.000000
29651,29997,150000,M,High School Diploma,Single,43,1683,1828,3502,8979,5190,0,1837,3526,8998,129,0,0,False,0.333333
29652,29998,30000,M,BSc,Single,37,3565,3356,2758,20878,20582,19357,0,0,22000,4200,2000,3100,True,2.333333
29653,29999,80000,M,High School Diploma,Married,41,-1645,78379,76304,52774,11855,48944,85900,3409,1178,1926,52964,1804,True,0.833333
29654,30000,50000,M,BSc,Married,46,47929,48905,49764,36535,32428,15313,2078,1800,1430,1000,1000,1000,True,1.000000

In [5]:
from pandas_profiling import ProfileReport


profile = ProfileReport(df, minimal=True)
profile.to_file(output_file="output.html")

Summarize dataset:   0%|          | 0/27 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]